// out: ./compile.css, compress: true, sourceMap: false

.pacifico {
    font-family: 'Pacifico', cursive;
}
.dancing{
    font-family: 'Dancing Script', cursive;
}
.no_style{
    list-style: none;
}
.no_margin{
    margin: 0;
}
.back_one{
    background-color: black;
}
.back_two{
    background-color: lightgray;
}
.color{
    color: white;
}
.flex{
    display: flex;
}
.justify_around{
    justify-content: space-around;
}
.justify_between{
    justify-content: space-between;
}
.justify_center{
    justify-content: center;
}
.items_center{
    align-items: center;
}
.direction_column{
    flex-direction: column;
}
.direction_row{
    flex-direction: row;
}
.direction_column_rev{
    flex-direction: column-reverse;
}
.direction_row_rev{
    flex-direction: row-reverse;
}
.border{
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgray;
}
.small{
    font-size: 16px;
}
.medium{
    font-size: 18px;
}
.big{
    font-size: 20px;
}
.no_display{
    display: none;
}
#partie_un{
    padding-left: 5px;
    h1{
        font-size: 40px;
        .pacifico;
    }
    p{
        padding: 10px;
        width: 25%;
        .dancing;
        .medium;
    }
}
header{
    .flex;
    .items_center;
    .direction_row;
    .justify_center;
    .pacifico;
    .color;
    font-size: 40px;
    h4{
        padding: 10px;
        .dancing;
        border: 1px solid white;
        width: 100px;
    }
    ul{
        .dancing;
    }
    h4:hover{
        background-color: lightgray;
        color: black;
    }
}
#header{
    width: 100%;
}
#partie_deux{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    div{
        width: 50%;
        .flex;
        .direction_column;
        .items_center;
        .justify_center;
    }
    img{
        width: 100%;
        height: auto;  
        padding-left: 5px;
    }
    h1{
        font-size: 40px;
        padding-left: 15px;
        .pacifico
    }
    p{
        padding-left: 20px;
        padding-right: 20px;
        .dancing;
        .big;
    }
}
#partie_trois{
    h1{
        .flex;
        .justify_center;
        .pacifico
    }
    #slider{
        height: 300px;
        .flex;
        .justify_center;
        .items_center;
    }
    p{
        .dancing;
        padding-bottom: 15px;
    }
}
footer{
    .back_one;
    .color;
    .medium;
    .dancing;
    .flex;
    .justify_center;
    .items_center;
    height: 100px;
}

@media screen and (max-width: 1441px) {
    header{
        img{
            display: none;
        }
    }
}

@media screen and (max-width: 1390px) {
    #partie_deux{
        .direction_column;
        .items_center;
    }
}

@media screen and (max-width: 1000px) {
    #partie_un{
        h1{
            .flex;
            .items_center;
            .justify_center;
        }
        div{
            .direction_column;
            .items_center;
            .justify_center;
        }
    }
    #partie_deux{
        .direction_column;
        .justify_center;
        .items_center;
        div{
            .flex;
            .direction_column;
            .items_center;
            .justify_center;
        }
    }
}
